In [1]:
#218670687
#Chakela SM

#importing libraries
import pandas as pd
import numpy as np
import sklearn

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data=pd.read_csv('train_XnW6LSF.csv')

In [3]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [4]:
data.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [5]:
data.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [6]:
data=data.drop('Item_Identifier',axis=1)

In [7]:
data.shape

(8523, 11)

In [8]:
x=data.drop('Item_Outlet_Sales',axis=1)
y=data['Item_Outlet_Sales']

In [9]:
x.shape,y.shape

((8523, 10), (8523,))

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y,stratify=data['Item_Outlet_Sales'],random_state=10,test_size=0.2)

ValueError: ignored

In [11]:
x.shape[1]

10

In [12]:
input_neurons=x.shape[1]
output_neurons=1

In [13]:
number_of_hidden_layers=2
neuron_hidden_layer_1=10
neuron_hidden_layer_2=5

In [14]:
model_functional=(x)

In [15]:
model_functional.compile(loss='binary_crossentropy',optimizer='Adam',metrics=['accuracy'])

AttributeError: ignored